:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-logo{
  height: 100%;
  background-image: url(../../../../../assets/images/1603360404302.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:50%;
  background-size: 140%;
}

#loader-container{
  position: relative;
}

.spinner-border{
  position: absolute;
  height: 100px;
  width: 100px;

  right: 20%;
  top: 10%;

  z-index: 2;
}